/* src/App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

header {
  background-color: #3750ff;
  padding: 20px 0;
  color: #fff;
}

header h1 {
  margin: 0;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  color: #333;
}

/* Стили для кнопки */
.set_class {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

/* Ховер эффект */
.set_class:hover {
  background-color: #45a049;
}

/* Навигация */
.nav {
  display: flex;
  flex-wrap: wrap; /* Добавлено для адаптивности */
  justify-content: center; /* Добавлено для центрирования на мобильных устройствах */
}
.nav ul {
  display: flex;
  list-style-type: none;
  padding: 0; /* Убрано отступы по умолчанию */
}

/* Модальное окно */
.ReactModal__Content--after-open {
  inset: 160px; /* Пример адаптивного значения для модального окна */
}
.list-class li {
  list-style-type: decimal;
}
.list-class ul {
  width: 50%;
  text-align: center;
  display: inline-block;
}
